{% extends 'WebWebBundle::layout.html.twig' %}

{% block stylesheets %} 
    <link class="stylesheet" href="{{ asset('bundles/webweb/css/jquery.lightbox-0.5.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/webweb/js/jquery.js') }}"></script>

    <script type="text/javascript">
        $(function() {

          var lightboxHTML = '<div id="overlay"></div>' +
                             '<div id="lightbox">' +
                             '<a href="#" id="close">Close</a>' +
                             '<img/>' + '<p/>' + '</div>';

          $(lightboxHTML).appendTo('body').hide();

          $('#overlay').css('opacity', '0.8');

          $('li', '#gallery').each(function() {
  
            var $li = $(this);
            var $a = $li.find('a');

            $a.click(function(event) {

              var src = $a.find('img').attr('src');
              var alt = $a.find('img').attr('alt');

              $('img', '#lightbox').attr('src', src);
              $('p', '#lightbox').text(alt);

              $('#overlay, #lightbox').show();

              event.preventDefault();
            });

        });

        $('#close', '#lightbox').click(function(event) {
  
            $('#lightbox, #overlay').hide();

            event.preventDefault();
        });

        });

    </script>
{% endblock %}

{% block menu %} 
    <div class="menu">
       <a href="{{ path('index') }}">{% trans %}Index{% endtrans %}</a>
       <a href="{{ path('qui_som') }}">{% trans %}Qui som{% endtrans %}</a>
       <a class="active" href="{{ path('feines') }}">{% trans %}Feines{% endtrans %}</a>
       <a href="{{ path('presupost') }}">{% trans %}Presupost{% endtrans %}</a>
    </div>
{% endblock %}

{% block content %}																							
    <!--
    a class="lightbox" href="{{ asset('bundles/webweb/images/photos/image1.jpg') }}"><img src="{{ asset('bundles/webweb/images/photos/thumb_image1.jpg') }}" width="114" height="114" alt="" /></a>
    <a class="lightbox" href="{{ asset('bundles/webweb/images/photos/image2.jpg') }}"><img src="{{ asset('bundles/webweb/images/photos/thumb_image2.jpg') }}" width="114" height="114" alt="" /></a>
    <a class="lightbox" href="{{ asset('bundles/webweb/images/photos/image3.jpg') }}"><img src="{{ asset('bundles/webweb/images/photos/thumb_image3.jpg') }}" width="114" height="114" alt="" /></a
    -->
    
    <ul id="gallery">
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image1.jpg') }}" width="114" height="114" alt=""/></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image2.jpg') }}" width="114" height="114" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image3.jpg') }}" width="114" height="114" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image1.jpg') }}" width="114" height="114" alt=""/></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image2.jpg') }}" width="114" height="114" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image3.jpg') }}" width="114" height="114" alt="" /></a></li>
        <li><a style="padding-right: 0px;" href="#"><img src="{{ asset('bundles/webweb/images/photos/image1.jpg') }}" width="114" height="114" alt=""/></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image2.jpg') }}" width="114" height="114" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image3.jpg') }}" width="114" height="114" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image1.jpg') }}" width="114" height="114" alt=""/></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image2.jpg') }}" width="114" height="114" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image1.jpg') }}" width="114" height="114" alt=""/></a></li>
        <li><a href="#"><img src="{{ asset('bundles/webweb/images/photos/image2.jpg') }}" width="114" height="114" alt="" /></a></li>
        <li><a style="padding-right: 0px;" href="#"><img src="{{ asset('bundles/webweb/images/photos/image3.jpg') }}" width="114" height="114" alt="" /></a></li>
    </ul>

{% endblock %}